host/libapp.so
host/libhost.a
host/libhost.h
platform/dynhost
platform/libapp.so
platform/*.rh
platform/*.rm
platform/*.a
platform/*.h
platform/*.obj
platform/*tar.br
platform/*tar.gz

examples/*/main
build

db.events
