host/libapp.so
host/libhost.a
host/libhost.h
platform/dynhost
platform/libapp.so
platform/*.rh
platform/*.rm
platform/*.a
platform/*.h
platform/*.obj
platform/*tar.br

examples/hello_world/main
build

db.events
